@layout MainLayoutSidebar
@page "/admin/users"
@inject NavigationManager NavigationManager

<PageTitle>Users</PageTitle>

<div class="p-2">
    <div class="page-header flex w-full">
        <div class="page-header-text w-2/3">
            <span class="text-lg font-bold">Users Management</span>
        </div>
        <div class="page-header-action justify-end w-1/3 relative">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                            focus:ring-blue-300 rounded-lg text-sm w-full sm:w-auto p-2 text-center float-right font-thin flex items-center" @onclick="CreateUser">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C6.41421 0 6.75 0.335786 6.75 0.75V11.25C6.75 11.6642 6.41421 12 6 12C5.58579 12 5.25 11.6642 5.25 11.25V0.75C5.25 0.335786 5.58579 0 6 0Z" fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6C0 5.58579 0.335786 5.25 0.75 5.25H11.25C11.6642 5.25 12 5.58579 12 6C12 6.41421 11.6642 6.75 11.25 6.75H0.75C0.335786 6.75 0 6.41421 0 6Z" fill="white" />
                </svg>
                <span>Create User</span>
            </button>
        </div>
    </div>
    <div class="page-body flex mt-2 shadow">
        <div class="overflow-x-auto inline-block min-w-full align-middle">
            <table class="min-w-full divide-y md:table-fixed sm:table-auto">
                <thead class="border">
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="px-4 py-2 md:w-40" scope="col">
                            ID
                        </th>
                        <th class="px-4 py-2">
                            Username / Email
                        </th>
                        <th class="px-4 py-2">
                            Authorities
                        </th>
                        <th class="px-4 py-2">
                            Created by
                        </th>
                        <th class="px-4 py-2">
                            Modified by
                        </th>
                        <th class="px-4 py-2 md:w-40">
                            Status
                        </th>
                        <th class="px-4 py-2 md:w-40">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in UsersDisplay)
                    {
                        <UserItem Model="user" />
                    }
                </tbody>
                <UserTableFooter PageIndex="@PageIndex" TotalPages=TotalPages OnClick="PageIndexChanged"
                       HasNextPage="@HasNextPage" HasPreviousPage="@HasPreviousPage" TotalRecords="@TotalRecords" PageSize="@PageSize">
                </UserTableFooter>
            </table>
        </div>
    </div>
</div>

@code {
    [Inject]
    IDataService dataService { get; set; }

    public List<User> Users { get; set; }

    public List<User> UsersDisplay { get; set; }

    public int PageSize { get; set; } = 20;

    public int PageIndex { get; set; } = 1;

    public int TotalPages { get; set; }

    public int TotalRecords { get; set; }


    private bool HasPreviousPage
    {
        get
        {
            return (PageIndex > 1);
        }
        set { }
    }

    private bool HasNextPage
    {
        get
        {
            return (PageIndex < TotalPages);
        }
        set { }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Users = dataService.GetUsers().ToList();
        TotalPages = (int)Math.Ceiling(Users.Count / (double)PageSize);
        TotalRecords = Users.Count;
        UserPaging();
    }

    public void PageIndexChanged(int newPageNumber)
    {
        if (newPageNumber < 1 || newPageNumber > TotalPages)
        {
            return;
        }
        PageIndex = newPageNumber;
        UserPaging();
        StateHasChanged();
    }

    public void UserPaging()
    {
        UsersDisplay = Users.Skip((PageIndex - 1) * PageSize).Take(PageSize).ToList();
    }

    private void CreateUser()
    {
        NavigationManager.NavigateTo("/admin/create-user");
    }
}